input{
  width: 80%;
  margin: 0 15px;
  height: 45px;
  padding: 5px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 24px;
  margin-bottom: 30px;
  /* background: url(../Images/IconsLogin/key-icon.png) no-repeat scroll 1px 1px; */
  background-size: 20px 20px;
  background-position: right center;
  background-color: white;
}

.container{
  width: 100%;
  overflow: hidden;
}
.login-container {
  height: 5vh;
  min-height: 85.2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);

}

.login-card{
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 60%;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  border-radius: 15px 0px 0px 15px;

}

.login-form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100%;
  width: 100%;
}
.input-login{
  background-color: #eee;
border: none;
padding: 20px 20px;
margin: 20px 20px;
width: 65%;
}
.form-title{
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 50px;
}

.login-button {
border-radius: 20px;
border: 1px solid #D6778E;
background-color: #D6778E;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

.forget-password{
  margin-top: 15px;
  margin-bottom: 30px;
}

.showcase{
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background: #e69991;
  opacity : 0.85;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
}
.showcase-content{
  font-size: 24px;
font-weight: 100;
line-height: 50px;
letter-spacing: 0.5px;
margin: 20px 0 30px;
  
}
.showcase-button{
border-radius: 20px;
border: 1px solid #D6778E;
background-color: #D6778E;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}
.showcase-button:hover{
  /* background-color: #714c80; */

}
.showcase-icon{
  width: 50%;
}