input{
  width: 80%;
  margin: 0 15px;
  height: 45px;
  padding: 5px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 17px;
  margin-bottom: 30px;
  /* background: url(../Images/IconsLogin/key-icon.png) no-repeat scroll 1px 1px; */
  background-size: 20px 20px;
  background-position: right center;
  background-color: white;
}

.container{
  width: 100%;
  overflow: hidden;
}
.login-container {
  font-family: 'Poppins';
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.login-card{
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  min-height: 60vh;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  border-radius: 15px 0px 0px 15px;

}

.login-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
.input-login{
  background-color: #eee;
  border: none;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 65%;
}
.form-title{
  font-weight: bold;
  margin-top: 30px;
  font-size: 50px;
}

.login-button {
border-radius: 20px;
border: 1px solid #D6778E;
background-color: #D6778E;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 25px;
}
.login-button:hover{
  background-color: #ba6b7e;

}

.forget-password{
  margin-top: 15px;
  margin-bottom: 30px;
}

.showcase{
  width: 25%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
background: #e69991;
  opacity : 0.85;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
}
.showcase-content{
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0.5px;
  
}
.showcase-button{
border-radius: 20px;
border: 1px solid #D6778E;
background-color: #D6778E;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
margin-bottom: 25px;

}
.showcase-button:hover{
  background-color: #ba6b7e;

}
.showcase-icon{
  width: 50%;
  max-width: 20vh;
}

input:-ms-input-placeholder  {
  font-size:116px;
}
@media screen and (max-width: 800px) {
  .login-container {
    font-family: 'Poppins';
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

  .login-card{
    display: flex;
    font-family: 'Poppins';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    min-height: 60vh;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px 15px 0px 0px;

  }

  .showcase{
    width: 80%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;

  }
} 