.quant-pages {
  display: flex;
  gap: 10px;
  background-color: rgb(253, 244, 243);
  font-family: 'Poppins', sans-serif;

  .paginationButton {
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgba(212, 114, 143, 1);
      color: #FBFBFB;
    }
  }
}