@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.conteinerA{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
} 

.texto{
    color: #D6778E; 
    text-align: center;
}

.texto h3{
    font-family: 'Poppins';
    font-size: 25px;
    margin-top: 20px;
}

.texto p{
    font-family: 'Poppins';
    font-size: 20px;
    color: #F3ACA4;
    font-weight: bold;
}

.form-newlestter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.n_email{
    border-radius: 8px;
    background-color: #FBFBFB;
    width: 360px;
    height: 30px;
    font-size: 18px;
    font-family: 'Poppins';
}

.n_email::-webkit-input-placeholder{
    font-size: 15px;
    padding-top: 6px;
    opacity: 0.7;
}

.botao_new{
    margin-top: -30px;
    border-radius: 8px;
    background-color: #FBFBFB;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 15px;
    font-family: 'Poppins';
}

.botao_new:hover{
    transition: 0.8s;
    background-color: #dbdbdb;
}

.paragrafotxt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.paragrafotxt p{ 
    width: 700px;
    font-weight: bold;
    text-align: center;
    color: #F3ACA4;
    font-size: 14px;
    margin-bottom: 20px;
}