*{
    margin: 0;
    padding: 0;
}

.lineGradientDown{
        height: 50px;
        width: 100%;
        background: 
        linear-gradient(90deg, 
        rgba(246, 177, 166, 1) 0%, 
        rgba(233, 155, 158, 1) 35%, 
        rgba(212, 114, 143, 1) 100%);
    }

.vantagens-lista {
    padding-top: 20px;
    width: 100%;
    .vantagens{
        margin: 0 auto;
        display: flex;
        width: 75%;
        justify-content: space-between;
        user-select: none;

        .pagamento, .frete, .atendimento, .seguranca{
            display: flex;
            align-items: center;

            svg{
                width: 62px;
                height: 40px;
                margin-right: 10px;
                color: #D6778E;
            }

            h3{
                font-weight: 700;
                font-size: 1.3rem;
            }
            
            p{
                color: #696868;
                font-weight: 400;
                font-size: .75rem;
                line-height: 1.32;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 1680px){
    .vantagens-lista {
        .vantagens {
            margin: 0 auto;
            display: flex;
            width: 85%;
            justify-content: space-between;
            user-select: none;
        }  
    }
}
@media (max-width: 1440px){

    .vantagens-lista {
        .vantagens{
            width: 90%;
        }
    }  
}
    
@media (max-width: 940px){

    .vantagens-lista {
        .vantagens{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            justify-items: center;
            .pagamento{
                margin-right: 35px;
            }
            .frete{
                margin-right: 55px;
            }
            .seguranca{
                margin-right: 55px;
            }
        }
    }  
}

@media (max-width: 470px){

    .vantagens-lista {
        
        .vantagens{
            width: 100%;
            justify-items: start;
            padding: 0 10px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .pagamento{
                margin-right: 25px;
                svg{
                    margin-right: 0;
                }
            }
            .atendimento{
                margin-left: 3px;
            }
            .pagamento h3,
            .frete h3,
            .atendimento h3,
            .seguranca h3 {
                font-size: .7rem;
                width: 100%;
            }
            .pagamento p,
            .frete p,
            .atendimento p,
            .seguranca p {
                font-size: .7rem;
            }
            .pagamento svg,
            .frete svg,
            .atendimento svg,
            .seguranca svg {
                width:45px;
                height: 30px;
            }
        }
    }  
}
    
