.pages {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 8vw;
  background: #FBFBFB;

  #quantPages {
    color: rgba(233, 155, 158, 1);
  }

  #selectPages,
  #optionPages {
    cursor: pointer;
    font-size: 1rem;
    width: 50px;
    size: 2rem;
    border-radius: 5px;
    color: rgb(12, 12, 12);

    &:hover {
      background-image: linear-gradient(90deg,
          rgba(246, 177, 166, 1) 0%,
          rgba(233, 155, 158, 1) 35%,
          rgba(212, 114, 143, 1) 100%);
      color: #FBFBFB;
    }
  }
}

@media(max-width: 933px) {
  .pages {
    padding-left: 7vw;

    #selectPages,
    #optionPages,
    #quantPages {
      font-size: .875rem;
    }
  }
}