.bin-icon{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bin-content{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.bag-container{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tit{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.tit-p{
    color:#d4728f ;
    font-size: 50px;
    position: absolute;
    left: 60px;
    top: 110px;
}

.tit-hr{
    border-color: #d4728f;
}
.marca{
    color: #d4728f;
    position: relative;
    left: 53%;
    display: inline-block;
    margin-right: 15%;
}
.valor{
    color: #d4728f;
    position: relative;
    left: 45%;
    display: inline-block;
    margin-right: 2%;
}
.quant{
    color: #d4728f;
    position: relative;
    left: 44%;
    display: inline-block;

}
.total{
    color: #d4728f;
    position: relative;
    left: 45%;
    display: inline-block;

}
/* 
.title-bars{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

} */

.tit-h2{
    color: #d4728f;
    position: relative;
    left: 50%;
    display: inline-block;
    margin-right: 5%;
}
 
.item-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item{
    padding: 10px 10px ;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.item-img{
    width: 15%;
    min-height: 15%;
}

.item-content{
    display: flex;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-component{
    margin-right: 35px;
}

.item-info{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.end-shop {
    border: none;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
    background-color: #d4728f; 
    /* background-image: linear-gradient(90deg, rgba(246, 177, 166, 1) 0%, rgba(233, 155, 158, 1) 35%, rgba(212, 114, 143, 1) 100%); */ 
    cursor: pointer;
    border-radius: 9px;
    padding: 7px;
    margin: 100px 0 25px 0;
    width: 20%;
    min-height: 70px;
    transition: 0.20s ease-in;

    
}
.end-shop:hover{
    background-color: #c9708a;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {

    .bin-icon{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bin-content{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

    }

    .item{
        padding: 10px 10px ;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .item-container{
        display: flex;
        width: 100%;    
        height: calc(100% + 100px); /* para suporte nativo */
        justify-content: space-evenly;
        flex-direction: column;

    }

    .item-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .item-content{
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    .item-img{
        width: 20%;
        margin: 0 auto;
    }
    .tit{
        display: none;
    }

    .tit-hr{
        display: none;
    }
    .marca{
        display: none;

    }
    .valor{
        display: none;

    }
    .quant{
        display: none;

    
    }
    .total{
        display: none;
    }
    .tit-p{
        display: none;
    }
} 