.bin-icon{
    width: 10%;
}

.bag-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tit p{
    color:#d4728f ;
    font-size: 50px;
    position: absolute;
    left: 60px;
    top: 110px;
}

.tit hr{
    border-color: #d4728f;
}

.tit h2{
    color: #d4728f;
    position: relative;
    left: 72%;
    display: inline-block;
    margin-right: 5%;
}

.item-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item{
    padding: 10px 10px ;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.item-img{
    width: 10%;
}

.item-content{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.item-info{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.end-shop {
    border: none;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
    background-color: #d4728f; 
    /* background-image: linear-gradient(90deg, rgba(246, 177, 166, 1) 0%, rgba(233, 155, 158, 1) 35%, rgba(212, 114, 143, 1) 100%); */ 
    cursor: pointer;
    border-radius: 9px;
    padding: 7px;
    margin: 100px 0 25px 0;
    width: 20%;
    min-height: 70px;
    transition: 0.20s ease-in;

    
}
.end-shop:hover{
    background-color: #c9708a;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
}
