@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: #FDF4F3;
    font-family: 'Poppins'; 
}

.atendimento_feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.atendimento_feedback div{
    margin: 0 40px 20px 120px
}

.atendimento_feedback img{
    height: 250px;
    width: 300px;
}

.card_opiniao{
    overflow: hidden;
    border-radius: 15px;
    width: 300px;
    height: 510px;
    background-color: #FBFBFB;
}

.card_opiniao img:hover{
    margin-top: -15px;
    transition: 0.8s;
}

.card_opiniao p{ 
    margin: 25px 10px 10px 10px;
    text-align: justify;
    line-height: 30px;
    color: #d6778e;
}

.nome_feed{
    color: #F3ACA4;
    float: right;
    margin: 0 10px 0;
    font-style: italic;
}