@import url('https://fonts.googleapis.com/css2?family=Lato&family=Uchen&display=swap');

body{
    background-color: #FDF4F3;
    font-family: 'Lato';
}

.atendimento_feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.atendimento_feedback div{
    margin: 0 40px 20px 120px
}

.atendimento_feedback img{
    height: 250px;
    width: 300px;
}

.card_opiniao{
    overflow: hidden;
    border-radius: 15px;
    height: 550px;
    background-color: #FBFBFB;
}

.card_opiniao img:hover{
    margin-top: -15px;
    transition: 0.8s;
}

.card_opiniao p{
    margin-top: 25px;
}