.atendimento_feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.atendimento_feedback div{
    margin: 0 40px 20px 120px
}

.atendimento_feedback img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}