@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: rgb(240, 241, 225);
}

.conteiner{
    height: 500px;
    background-color: #E98CF9;
}

.cards-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#card{
    font-family: 'Poppins';
    position: relative;
    width: 320px;
    height: 420px;
    background-color: #D6778E;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px;
    box-shadow: 0 0 0.3em black;
}

#card:hover{
    cursor: pointer;   
}

#card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: #F3ACA4;
    transform: skewY(345deg);
    transition: 0.5s;
}

#card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}

#card::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 7em;
    color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

#card .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

#card .imgBx img{
    margin-left:15px;
    border-radius: 60%;
    max-width: 90%;
    transition: 0.5s;
}

#card:hover .imgBx img{
    margin-left:50px;
    max-width: 70%;
}

#card .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#card .contentBx h3{
    font-size: 18px;
    color: #FBFBFB;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#card .contentBx .price{
    font-size: 24px;
    color: #FBFBFB;
    font-weight: 700;
    letter-spacing: 1px;
}

#card .contentBx .descricao{
    cursor:default;
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 5px;
    color: #FBFBFB;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#card:hover .contentBx .descricao{
    top: 0px;
    opacity: 1;
}

@media screen and (max-width: 992px) {
    .cards-conteiner{
        flex-direction: column;
    }
  }
