@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');
$color1: #f4f4f4;
$color2: #333;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

    .modal {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        max-width: 550px;
        height: 390px;
        padding: 15px;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        .btn-close {
            background-color: $color2;
            color: $color1;
            border-radius: 15px;
            width: 24px;
            height: 24px;
            float: right;
            border: unset;
            cursor: pointer;
            margin: 10px;
            transition: 0.12s ease-in;

            &:hover{
                background-color: #d13737;
            }
        }

        #content {
            background-color: $color1;
            color: $color2;
            border-radius: 10px;
            max-width: 600px;
            margin: 0 auto 0 auto;
            padding: 15px;
            box-shadow: 0 0 0.6em $color2;

            h3{
                text-align: center;
                margin-bottom: 20px;
                background-color: $color1;
            }

            .container {
                display: flex;
                justify-content: space-between;
                background-color: $color1;

                .img-product {
                    width: 50%;
                    background-color: $color1;
                    img{
                        width: 100%;
                        @media(max-width: 600px){
                            height: 50%;
                        } 
                    }

                    @media(max-width: 600px){
                        display: flex;
                        align-items: center;
                    }
                }

                #item {
                    width: 40%;
                    height: 280px;
                    background-color: $color1;

                    .details {
                        list-style-type: none;
                        background-color: $color1;

                        li{
                            margin-bottom: 10px;
                            background-color: $color1;
                        }

                        span{
                            display: grid;
                            grid-template-columns: repeat(10, 1fr);
                            grid-row-gap: 2px;
                            background-color: $color1;

                            @media(max-width: 600px){
                                grid-template-columns: repeat(5, 1fr);
                            }
                        }
                    }

                    .btns {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: $color1;

                        .text-quantidade {
                            margin-right: 10px;
                            background-color: $color1;

                            b{
                                background-color: $color1;
                            }
                        }

                        .quantCompras {
                            margin: 8px;
                            font-weight: bold;
                            width: 25px;
                            text-align: center;
                            background-color: $color1;
                        }

                        .btns-quantidade{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .btn-calculo {
                                width: 24px;
                                height: 24px;
                                color: $color2;
                                border: solid 2px $color2;
                                border-radius: 15px;
                                font-size: 20px;
                                cursor: pointer;
                                transition: 0.20s ease-in;
                                background-color: $color1;
    
                                &:hover{
                                    color: $color1;
                                    background-color: $color2;
                                }
                            } 
                        }
                        @media(max-width: 410px){
                            flex-direction: column;
                           align-items: flex-start ;
                        }  
                    }
                    .btn-comprar {
                        border: none;
                        color: $color1;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: #d4728f; 
                        /* background-image: linear-gradient(90deg, rgba(246, 177, 166, 1) 0%, rgba(233, 155, 158, 1) 35%, rgba(212, 114, 143, 1) 100%); */ 
                        cursor: pointer;
                        border-radius: 7px;
                        padding: 7px;
                        margin: 15px 0 0 0;
                        width: 70%;
                        height: 15%;
                        transition: 0.20s ease-in;

                        &:hover{
                            background-color: #c9708a;
                        }

                        @media(max-width: 410px){
                            margin:  15px 35px 10px 0;
                            padding: 7px;
                            width: 100px;
                            height: 37px;
                        }
                    }
                }
            }
        }
        @media(max-width: 300px){
                margin-bottom: 30px;
        }
    }
}

