@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');
$color1: #f4f4f4;
$color2: #333;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

    .modal {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        max-width: 550px;
        height: 390px;
        padding: 15px;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media(max-width: 480px) {
            max-width: 400px;
        }
        @media(max-width: 380px) {
            max-width: 380px;
        }
        .btn-close {
            background-color: $color2;
            color: $color1;
            border-radius: 15px;
            width: 24px;
            height: 24px;
            float: right;
            border: unset;
            cursor: pointer;
            margin: 10px;
            transition: 0.12s ease-in;

            &:hover {
                background-color: #d13737;
            }
        }

        #content {
            background-color: $color1;
            color: $color2;
            border-radius: 10px;
            max-width: 600px;
            margin: 0 auto 0 auto;
            padding: 15px;
            box-shadow: 0 0 0.6em $color2;

            h3 {
                text-align: center;
                margin-bottom: 20px;
            }

            .container {
                display: flex;
                justify-content: space-between;
                background-color: $color1;

                .img-product {
                    width: 250px;
                    height: 240px;

                    img {
                        width: 250px;
                        height: 240px;
                        border-radius: 25px;

                        @media(max-width: 500px) {
                            width: 170px;
                            height: 240px;
                        }
                    }

                    @media(max-width: 600px) {
                        display: flex;
                        align-items: center;
                    }
                }

                #item {
                    width: 50%;
                    background-color: $color1;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    .details {
                        list-style-type: none;

                        li {
                            margin-bottom: 5px;
                        span {
                            display: grid;
                            grid-template-columns: repeat(7, 1fr);
                            grid-column-gap: 4px;
                            grid-row-gap: 2px;

                            @media(max-width: 600px) {
                                grid-template-columns: repeat(5, 1fr);
                            }
                            @media(max-width: 430px) {
                                grid-template-columns: repeat(4, 1fr);
                                grid-column-gap: unset;
                                grid-row-gap: 2px;
                            }
                        }
                    }

                }

                    .btns {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .text-quantidade {
                            margin-right: 10px;
                        }

                        .quantCompras {
                            margin: 8px;
                            font-weight: bold;
                            width: 25px;
                            text-align: center;
                            background-color: $color1;
                        }

                        .btns-quantidade {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .btn-calculo {
                                width: 24px;
                                height: 24px;
                                color: $color2;
                                border: solid 2px $color2;
                                border-radius: 15px;
                                font-size: 20px;
                                cursor: pointer;
                                transition: 0.20s ease-in;
                                background-color: $color1;

                                &:hover {
                                    color: $color1;
                                    background-color: $color2;
                                }

                                @media(max-width: 480px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        @media(max-width: 480px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                    }

                    .btn-comprar {
                        border: none;
                        color: $color1;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: #d4728f;
                        /* background-image: linear-gradient(90deg, rgba(246, 177, 166, 1) 0%, rgba(233, 155, 158, 1) 35%, rgba(212, 114, 143, 1) 100%); */
                        cursor: pointer;
                        border-radius: 7px;
                        padding: 7px;
                        margin: 10px 0 0 0;
                        width: 70%;
                        height: 15%;
                        transition: 0.20s ease-in;

                        &:hover {
                            background-color: #c9708a;
                        }

                        @media(max-width: 410px) {
                            margin: 15px 35px 10px 0;
                            padding: 7px;
                            width: 100px;
                            height: 37px;
                        }
                    }
                }
            }
        }
    }
}