.product{
    width: 100%;
    .types{
        display: flex;
        width: 75%;
        height: 70px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .lipstick, .blush, .bronzer, .nail-polish, .eyebrow, .mascara{
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 2px solid transparent;
                &:hover{
                    border: 2px solid rgba(212, 114, 143, 1);;
                    border-radius: 10px;
                    button{
                    color: rgba(212, 114, 143, 1);
                    }
                }
            img{
                background: transparent;
                width: 40px;
            }
            button{
                border: none;
                font-family: arial,sans-serif;
                font-weight: 700;
                font-size: 1rem;
                background:transparent;
                padding: 0 5px;
            }
        }
    }
}