.product {
    width: 100%;
    background: #FDF4F3;

    .types {
        display: flex;
        padding: 10px 0;
        width: 75%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: transparent;

        #btnType {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            border: none;
            font-family: arial, sans-serif;
            font-weight: 700;
            font-size: 1rem;
            background: transparent;
            padding: 0 5px;
            border: 2px solid transparent;

            &:hover {
                border-radius: 10px;
                background-color: #f3aca354;
            }

            #imgTypes {
                background: transparent;
                width: 40px;
            }

            .lipstick,
            .blush,
            .bronzer,
            .nail-polish,
            .eyebrow,
            .mascara {
                display: flex;
                align-items: center;
                flex-direction: column;
                border: 2px solid transparent;
                background-color: transparent;
            }

            #prodType {
                font-size: 1rem;
                text-align: center;
                letter-spacing: 1px;
                display: block;
                background-color: transparent;
                color: rgb(27, 24, 24);
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 1680px) {
    .product {
        .types {
            width: 85%;
        }
    }
}

@media (max-width: 700px) {
    .product {
        .types {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            justify-items: center;

        }
    }
}

@media (max-width: 470px) {
    .product {
        .types {
            #btnType {

                .lipstick,
                .blush,
                .bronzer,
                .nail-polish,
                .eyebrow,
                .mascara {
                    &:hover {
                        #prodType {
                            color: #fbfbfb;
                        }
                    }

                    #imgTypes {
                        background: transparent;
                        width: 30px;
                    }

                    #prodType {
                        letter-spacing: 1px;
                        color: rgb(27, 24, 24);
                        font-weight: 700;
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}