@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#menu_header ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;

}

#menu_header {
  width: 100%;
  height: 80px;
  background-color: #d6778e;
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-linkPages {
  display: flex;
  align-items: center;
  gap: 30px;
}

#links-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-list li {
  padding: 25px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #F3ACA4;
}

.bagIcon {
  width: 40px;
  margin-top: -6px;
}

.logo_menu {
  height: 60px;
  padding-left: 30px;
}

#newBag {
  font-size: 2rem;
}

a:hover {
  transition: 0.5s;
  color: #fcc9c4;
}

.sair_btn {
  color: #000000;
  margin-top: 2px;
}

.sair_btn a {
  color: #000000;
}


@media screen and (max-width: 992px) {
  .links-list li {
    padding-left: 10px;
  }

  a {
    font-size: 15px;
  }

  .logo_menu {
    height: 50px;
  }

  .bagIcon {
    width: 30px;
    margin-top: 0px;
  }

}

@media screen and (max-width: 420px) {

  #menu_header {
    gap: 30px;
    justify-content: center;
  }

  #links-list {
    flex-direction: column;
    gap: 10px;
  }

  #menu_header ul {
    gap: 20px;
  }

  .logo_menu {
    padding: 0;
  }

  .logo-linkPages {

    gap: 20px;
  }

  .links-list li {
    padding: 0;
  }

}