nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.links-list ul {
  display: flex;
  gap: 30px;
}

li {
  list-style-type: none;

}

a {
  text-decoration: none;
  font-size: 1.2rem;
}