.ModalProject {
  box-sizing: border-box;
  font-family: 'Poppins';
  max-width: 40vw;
  padding: 15px;
  color: #D6778E;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  .btnCloseModal {
    width: 100%;
    text-align: right;
  }

  .projectDescriptModal {
    text-align: justify;
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 10px;
    justify-content: flex-start;
  }

  .projectDescriptPages {
    display: grid;
    font-size: .8rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 10px;
  }

  .projectIcons {
    display: flex;
    font-size: 2rem;
    gap: 10px;
    padding-bottom: 10px;
  }

  .projectManage {
    text-align: justify;
  }

  .projectLinks {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

    #iconAbout {
      font-size: 2rem;
      color: black;
    }

    .linkAbout {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

@media(max-width: 1460px) {
  .ModalProject {
    max-width: 50vw;
  }
}

@media(max-width: 900px) {
  .ModalProject {
    max-width: 70vw;
  }
}

@media(max-width: 600px) {
  .ModalProject {
    max-width: 90vw;
  }
}

@media(max-width: 380px) {
  .ModalProject {
    .projectDescriptPages {
      display: grid;
      font-size: .8rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      padding-bottom: 10px;
    }
  }
}