footer {
  background-color: #D6778E;
  display: flex;
  flex-direction: column;
  color: #FDF4F3;
  font-family: 'Poppins', sans-serif;


  .rowInfoOne {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    .marketplace {
      #titleFir {
        font-size: 1.4rem;
        font-weight: 600;
        padding-bottom: 5px;
      }
    }

    .titleSec {
      font-size: 1.4rem;
      font-weight: 600;
      padding-bottom: 5px;
    }

    .contact {
      .adress {
        display: flex;
        flex-direction: column;
        gap: 5px;

        #adrEmail {
          text-decoration: none;
          font-size: 1rem;
          color: #FDF4F3;
        }
      }
    }

    .socialMedia {
      .iconsMedia {
        display: flex;
        gap: 10px;
        justify-content: center;

        #icon-social {
          font-size: 2rem;
          color: #FDF4F3;
        }
      }
    }
  }

  .projectDescript {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    #copyrigth {
      text-align: center;
      padding-bottom: 10px;
      font-size: .8rem;
    }

    #btnProject {
      border: 1px solid#FDF4F3;
      border-radius: 5px;
      background-color: transparent;
      text-align: left;
      font-size: 1rem;
      cursor: pointer;
      padding: 4px;
      color: #FDF4F3;

      &:hover {
        border-color: #000000;
        color: #000000;
      }
    }
  }
}

@media(max-width: 800px) {
  footer {
    width: 100%;

    .rowInfoOne {
      width: 100%;
      text-align: center;
    }

    .projectDescript {
      flex-direction: column;

      #copyrigth {
        padding-top: 10px;
      }
    }
  }
}

@media(max-width: 600px) {
  footer {
    .rowInfoOne {
      width: 90%;
      margin: auto;
      flex-direction: column;
      gap: 20px;
    }
  }
}