@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 70px;
}

.valores h3{
    padding: 0 80px 0 80px;
    font-size: 40px;
    font-family: 'Poppins';
    color: #D6778E;
}

.valores hr{
   margin-left: 20px;
   width: 300px;
   background-color: #F3ACA4;
   border: none;
   font-weight: bold;
   height: 6px;
   border-radius: 30px;
}

.valores p{
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
    color: #D6778E;
}

.valores div{
    margin: 20px 50px 0px 50px;
}


@media screen and (max-width: 992px) {
    .valores{
        flex-direction: column;
    }

    .valores h3{
        font-size: 35px;
    }

    .valores p{
        font-size: 25px;
    }

    .valores div{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
