$color1: #D6778e;
$color2: #FFF;

#modal-equipe-overlay{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

    @media(max-width: 640px){
        overflow-y:unset;
      } 

    .modal-equipe{
        box-sizing: border-box;
        font-family: 'Poppins';
        max-width: 650px;
        padding: 15px;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media(max-width: 640px){
            height: 100vh;
          } 

        .btn-close {
            background-color: #333;
            color: $color2;
            border-radius: 15px;
            width: 24px;
            height: 24px;
            float: right;
            border: unset;
            cursor: pointer;
            margin: 10px;
            transition: 0.12s ease-in;

            &:hover{
                background-color: #d13737;
            }
        }

        #titulo-modal{
            text-align: center;
            background-color: $color2;
            color: $color1;
            border-radius: 10px;
            margin-bottom: 15px;

            @media(max-width: 410px){
                font-size: 27px;
                padding: 5px;
              } 
              @media(max-width: 366px){
                font-size: 24px;
                padding: 5px;
              } 

            .fa-laptop-code:before{
                margin-left: 20px;
            }
        }

        #container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @media(max-width: 630px){
                justify-content: center;
                height: 100vh;
                overflow-y: auto;
              }  

            #item-container{
                width: 180px;
                background-color: $color2;
                margin: 10px;
                border-radius: 8px;
                transition: 0.55s ease-in;

                @media(max-width: 630px){
                    &:nth-child(5){
                      margin-bottom: 100px;
                    }
                    &:nth-child(6){
                        margin-bottom: 100px;
                      }
                  }

                  @media(max-width: 441px){
                    &:nth-child(5){
                        margin-bottom: 10px;
                      }
                      &:nth-child(6){
                          margin-bottom: 130px;
                        }
                } 
                @media(max-width: 360px){
                      &:nth-child(6){
                          margin-bottom: 150px;
                        }
                } 

                #title-card{
                    background-color: $color1;
                    color: $color2;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 5px;
                    text-align: center;
                }

                .img-profile{
                    text-align: center;

                     img{
                        width: 100px;
                        height: 100px;
                        border-radius: 200px;
                        box-shadow: 0 0 0.3em #333;
                    }
                }
                .icons{
                    display: flex;
                    justify-content: space-evenly;
                    cursor: pointer;
                    padding: 10px;

                    a{
                        color: $color1;
                        font-size: 25px;
                        &:hover{
                            .fab{
                                color: #d78c9e;
                            }
                        }
                    }
                }
            }
        }
    }
}