* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(90deg,
      rgba(246, 177, 166, 1) 0%,
      rgba(233, 155, 158, 1) 35%,
      rgba(212, 114, 143, 1) 100%);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e4e3e3;
}

*::-webkit-scrollbar-thumb {
  background-color:
    rgba(212, 114, 143, 1);
  ;
  border-radius: 20px;
  border: 2px solid #e4e3e3;
}