.vantagens-lista {
    padding: 30px 0;
    width: 100%;
    background: #FBFBFB;
    height: 70px;

    .vantagens {
        margin: 0 auto;
        display: flex;
        width: 75%;
        justify-content: space-between;
        user-select: none;

        .pagamento,
        .frete,
        .atendimento,
        .seguranca {
            display: flex;
            align-items: center;
            background-color: transparent;

            #benefitImg {
                width: 62px;
                height: 40px;
                margin-right: 10px;
                color: #D6778E;
            }

            #benefitType {
                font-weight: 600;
                font-size: 1.3rem;
            }

            #benefitTypeComp {
                color: #696868;
                font-weight: 400;
                font-size: .75rem;
                line-height: 1.32;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 1680px) {
    .vantagens-lista {
        .vantagens {
            margin: 0 auto;
            display: flex;
            width: 85%;
            justify-content: space-between;
            user-select: none;
        }
    }
}

@media (max-width: 1440px) {

    .vantagens-lista {
        .vantagens {
            width: 90%;
        }
    }
}

@media (max-width: 940px) {

    .vantagens-lista {
        .vantagens {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            justify-items: center;

            .pagamento {
                margin-right: 35px;
            }

            .frete {
                margin-right: 55px;
            }

            .seguranca {
                margin-right: 55px;
            }
        }
    }
}

@media (max-width: 500px) {

    .vantagens-lista {
        .vantagens {
            width: 90%;
            display: grid;
            justify-items: start;
            flex-direction: column;
            align-items: center;
            grid-row-gap: 10px;

            .pagamento {
                margin-right: 25px;

                #benefitImg {
                    margin-right: 0;
                }
            }

            .atendimento {
                display: flex;

                #benefitImg {
                    padding-right: 1px;
                }
            }

            .pagamento #benefitType,
            .frete #benefitType,
            .atendimento #benefitType,
            .seguranca #benefitType {
                font-size: .7rem;
                width: 100%;
            }

            .pagamento #benefitTypeComp,
            .frete #benefitTypeComp,
            .atendimento #benefitTypeComp,
            .seguranca #benefitTypeComp {
                font-size: .7rem;
            }

            .pagamento #benefitImg,
            .frete #benefitImg,
            .atendimento #benefitImg,
            .seguranca #benefitImg {
                width: 45px;
                height: 30px;
            }
        }
    }
}